.container {
  padding-top: 130px;
  width: 95%;
  margin: auto;
}

.container h2 {
  font-size: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  position: relative;
  margin: 20px 0 20px;
}

.back {
  text-align: left;
  margin-left: 3%;
}

.back span {
  font-size: larger;
}

.backButton:hover {
  color: white;
  transform: scale(1.1);
}

.header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
  font-size: 2em;
}

.statsTable {
  overflow-x: auto;
  width: 100%;
}

.statsTableContainer {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: auto;
  min-width: 900px;
  padding-bottom: 2vh;
}

.statsTableContainer th,
.statsTableContainer td {
  border: 1px solid #555;
  padding: 8px;
  text-align: center;
  color: white;
}

.statsTableContainer th {
  color: #cc9a36;
}

.statsTableContainer th:first-child,
.statsTableContainer td:first-child {
  position: sticky;
  left: 0;
  background: #0a0117;
  z-index: 2;
}

.dateCol {
  position: sticky;
  left: 0;
  background-color: #0a0117;
}

.averageStats {
  margin-top: 40px;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 8px;
  color: #eee;
}

.averageStats h3 {
  margin-bottom: 10px;
}

.averageStats ul {
  list-style: none;
  padding-left: 0;
}

.averageStats li {
  margin-bottom: 5px;
}

.averageStats {
  margin-top: 40px;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 8px;
  color: #eee;
}

.averageStats h3 {
  margin-bottom: 10px;
}

.averageStats ul {
  list-style: none;
  padding-left: 0;
}

.averageStats li {
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.arrowButton {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.arrowButton:hover {
  transform: scale(1.2);
  color: #cc9a36;
}

.arrowButton[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.paginationButton {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.paginationButton:hover {
  transform: scale(1.2);
  color: #cc9a36;
}

.activePage {
  border: 1px solid #cc9a36;
}

.green {
  color: green !important;
  font-weight: bold;
}

.red {
  color: red !important;
  font-weight: bold;
}

.formContainer {
  margin: 20px 0;
  color: white;
}

.formControl {
  background-color: #0a0117;
  color: #cc9a36;
  border: 1px solid #555;
  margin: 0 10px;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 1rem;
}

.numInput {
  margin-left: 10px;
  width: 80px;
}

.formControl:focus {
  outline: none;
  border-color: #ffaa3b;
  box-shadow: 0 0 4px #ffaa3b;
}

@media (max-width: 1280px) {
  .header h2 {
    font-size: 1.5rem;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 0 20px;
  }

  .back {
    width: max-content;
    padding-right: 20px;
    align-self: flex-start;
    margin: 10px 0;
  }

  .header h2 {
    position: relative;
    font-size: 1.2rem;
    left: auto;
    transform: none;
    text-align: center;
    margin: 0 auto;
  }
}

.playoffDate {
  color: #ffd700 !important;
  font-weight: bold;
  text-shadow: 0 0 6px rgba(255, 215, 0, 0.5) !important;
}