/* components/calendar/calendar.module.css */

.image {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
  filter: invert(58%) sepia(89%) saturate(350%) hue-rotate(2deg) brightness(1.5);
  transition: transform 0.3s ease-in-out;
}

.calendarModal {
  position: absolute;
  top: 130px;
  left: 80%;
  transform: translate(-80%, 0%);
  background-color: #1d1d1d;
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.month {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: #cc9a36;
}

.month button {
  font-size: 18px;
  color: white;
  padding: 0 20px 0 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.dayName {
  text-align: center;
  font-weight: bold;
}

.day {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.day:hover {
  box-shadow: 0 0 0 2px #cc9a36;
}

.empty {
  background-color: #1d1d1d;
  pointer-events: none;
}

.selected {
  box-shadow: 0 0 0 2px white;
}

.today {
  color: #cc9a36;
}

.selectedDate {
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .image {
    width: 35px;
    height: auto;
  }
}

@media (max-width: 614px) {
  .image {
    width: 32px;
    height: auto;
  }
}