/* components/gameTable/gameTable.module.css */

.loading {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.tableContainer {
  display: grid;
  padding-top: 10px;
  width: 95%;
  margin: auto;
}

.gamesTable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: large;
  color: white;
}

.headerRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-left: 14vw;
  margin-right: 14vw;
  font-size: 1.6rem;
  font-weight: bold;
  color: #cc9a36;
}

.gamesTable hr {
  border-color: #555;
  width: 95%;
  margin: auto;
  padding-bottom: 2vh;
}

.gameRow {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  align-items: center;
  padding: 2vh 0 2vh;
}

.teamName {
  display: block;
  font-size: 2.2rem;
}

.teamAbbreviation {
  display: none;
}

.awayTeam {
  border-right: 1px solid #555;
}

.homeTeam {
  border-left: 1px solid #555;
}

.logo {
  width: 11vw;
}

.WLRecord {
  font-size: 1.2rem;
  padding-top: 1vh;
  color: #a0a0a0;
}

.timeAndScore {
  border: none;
}

.startTime {
  font-size: 1.3rem;
  padding: 0 1.5vw 0 1.5vw;
}

.score {
  font-size: 1rem;
  padding-top: 2vh;
}

.dataLabelRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 2vh;
  color: #cc9a36;
}

.dataRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.displayData {
  padding-bottom: 5vh;
  color: #a0a0a0;
}

.tableCell {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.actualData {
  margin-left: 5vw;
  font-size: 1.2rem;
}

.predictData {
  margin-right: 5vw;
  font-size: 1.2rem;
}

.standardPred {
  display: block;
}

.mobilePred {
  display: none;
}

.noData {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 900px) {
  .gamesTable {
    font-size: 0.7rem;
  }

  .headerRow {
    font-size: 1.2rem;
  }

  .teamName {
    display: none;
  }

  .teamAbbreviation {
    display: block;
    font-size: 1.5rem;
  }

  .logo {
    width: 14vw;
  }

  .awayTeam {
    border: none;
  }
  
  .homeTeam {
    border: none;
  }

  .WLRecord {
    font-size: 1rem;
  }

  .timeAndScore {
    border-left: 1px solid #555;
    border-right: 1px solid #555; 
    padding: 0 3vw;
  }

  .startTime {
    font-size: 1rem;
  }

  .score {
    font-size: 0.7rem;
  }

  .tableCell {
    font-size: 1.2rem;
  }

  .displayData {
    padding-bottom: 5vh;
  }

  .actualData {
    font-size: 0.9rem;
  }
  
  .predictData {
    font-size: 0.9rem;
  }

  .standardPred {
    display: none;
  }
  
  .mobilePred {
    display: block;
  }
}