.tableContainer {
  display: grid;
  padding-top: 10px;
  width: 95%;
  margin: auto;
}

.gamesTable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.headerRow {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding-bottom: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
  font-size: large;
  font-weight: bold;
}

.gameRow {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  align-items: center;
  padding-bottom: 2vh;
}

.dataLabelRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.dataRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.tableCell {
  color: white;
}

.actualData {
  margin-left: 5vw;
}

.predictData {
  margin-right: 5vw;
}