/* components/gameTable/gameTable.module.css */

.tableContainer {
  display: grid;
  padding-top: 10px;
  width: 95%;
  margin: auto;
}

.gamesTable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: large;
  color: white;
}

.headerRow {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding-bottom: 5vh;
  margin-left: 14vw;
  margin-right: 14vw;
  font-size: 25px;
  font-weight: bold;
  color: #cc9a36;
}

.gameRow {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  align-items: center;
  padding-bottom: 2vh;
}

.teamName {
  font-size: 35px;
}

.logo {
  width: 11vw;
}

.dataLabelRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 2vh;
  color: #cc9a36;
}

.dataRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.displayData {
  padding-bottom: 10vh;
}

.tableCell {
  display: flex;
  justify-content: center;
}

.actualData {
  margin-left: 5vw;
}

.predictData {
  margin-right: 5vw;
}

@media (max-width: 768px) {
  .gamesTable {
    font-size: 2.5vw;
  }

  .headerRow {
    font-size: 3vw;
  }

  .teamName {
    font-size: 3vw;
  }

  .logo {
    width: 14vw;
  }

  .displayData {
    padding-bottom: 5vh;
  }
}