/* app/about/page.module.css */

.pageContainer {
  margin-top: 130px;
  color: white;
}

.pageNav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #cc9a36;
}

.navItem {
  padding: 1vh;
}

.navItem:hover {
  color: white;
  transition: transform 0.3s ease-in-out;
}

.navItemActive {
  box-shadow: 0px 3px #cc9a36;
}

.subPage {
  display: none;
  margin-top: 5vh;
  padding-bottom: 5vh;
}

.about {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.teamMemberA {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.teamMemberB {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes imageLeftAppear {
  from {
    transform: translateX(-500px) rotate(-270deg);
  }

  to {
    transform: translateX(0) rotate(0deg);
  }
}

.imageContainerLeft {
  display: grid;
  justify-content: center;
  animation: imageLeftAppear 1s ease forwards;
  transform-origin: center;
}

@keyframes imageRightAppear {
  from {
    transform: translateX(500px) rotate(270deg);
  }

  to {
    transform: translateX(0) rotate(0deg);
  }
}

.imageContainerRight {
  display: grid;
  justify-content: center;
  animation: imageRightAppear 1s ease forwards;
  transform-origin: center;
}

@keyframes aboutMemberLeftAppear {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutMemberLeft {
  text-align: right;
  margin-left: 8vw;
  animation: aboutMemberLeftAppear 1s ease forwards;
}

@keyframes aboutMemberRightAppear {
  from {
    opacity: 0;
    transform: translateX(500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutMemberRight {
  text-align: left;
  margin-right: 8vw;
  animation: aboutMemberRightAppear 1s ease forwards;
}

.name {
  font-size: larger;
  font-weight: 800;
  color: #cc9a36;
}

.text {
  padding-top: 2vh;
  padding-bottom: 3vh;
}