/* app/home/page.module.css */

.filters {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); This is for if there is a search bar*/
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  width: 90%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4vh;
  border-bottom: 1px solid white;
}

.datePicker {}

.calendar {}

/* .search {} */

.gameTable {}

@media (max-width: 1280px) {
  .filters {
    padding-bottom: 5vh;
  }
}

@media (max-width: 768px) {
  .filters {
    padding-bottom: 3vh;
  }
}