/* app/home/page.module.css */

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
}

.datePicker {}

.calendar {}

.search {}

.gameTable {}

@media (max-width: 768px) {
  .filters {
    padding-bottom: 7vh;
  }
}

@media (max-width: 614px) {
  .filters {
    padding-bottom: 5vh;
  }
}