@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0a0117;
    --secondary: #cc9a36;
  }
}

body {
  color: var(--secondary);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100vh
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}