@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #cc9a36;;
  background: #0a0117;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}