@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0a0117;
    --secondary: #cc9a36;
  }
}

body {
  color: var(--secondary);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100vh
}

main {
  margin-top: 130px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .nav {
  padding-bottom: 24vh
} */

.loadingDots {
  width: 100px;
}

.loadingDots::after {
  display: inline-block;
  text-align: left;
  content: '';
  width: 3ch;
  animation: loadingDots 1.5s steps(4, end) infinite;
}

@keyframes loadingDots {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '. .';
  }

  75% {
    content: '. . .';
  }

  100% {
    content: '';
  }
}