.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Adjust grid for smaller boxes */
  gap: 20px;
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: border 0.2s ease-in-out;
  background-color: #3f3f3f;
}

.card:hover {
  outline: 3px solid #cc9a36; 
  border: none;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

/* .cardLink:hover {
  background-color: #f0f0f0;
} */

.imagePlaceholder {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px; /* Center the image container */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePlaceholder img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block; /* Ensure the image fills the container */
  background-color: transparent; /* Remove any background color */
}

.info {
  padding: 5px;
}

.abbreviation {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.teamLocation,
.teamName,
.seasonYear {
  font-size: 1em;
  margin-bottom: 5px;
  color: white;
}

.filter {
  margin-bottom: 20px;
  font-size: 16px;
}
